<header class="cabecalho">
    <nav class="cabecalho-nav">
        <span class="material-symbols-outlined cabecalho-nav-menu" (click)="mostrarSidebar()">menu</span>
    </nav>

    <div class="cabecalho-nav-perfil">
        <span class="material-symbols-outlined">
            person
        </span>
    </div>
</header>

<div class="sidebar" [ngClass]="{'ativo': ativo, 'inativo': !ativo}">

    <span class="material-symbols-outlined cabecalho-nav-close" (click)="esconderSidebar()">close</span>

    <ul class="sidebar-list">
        <div class="sidebar-list-container">
            <li class="sidebar-list-item" routerLink="/index" routerLinkActive="ativo"><a>Home</a></li>
        </div>
        <div class="sidebar-list-container">
            <li class="sidebar-list-item" routerLink="/dashboard" routerLinkActive="ativo"><a>Dashboard</a></li>
        </div>
    </ul>

</div>