.cabecalho {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.material-symbols-outlined {
    font-size: 36px;
    user-select: none;
    cursor: pointer;
}

.cabecalho-nav-perfil {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-image: url("../../../../../public/assets/img/perfil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}