.cabecalho {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
  width: 100vw;
}

.material-symbols-outlined {
  font-size: 36px;
  user-select: none;
  cursor: pointer;
}

.cabecalho-nav-perfil {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabecalho-nav-perfil-logout {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;
  right: 0;
  top: 120%;
  width: 200px;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
}

.cabecalho-nav-perfil-logout.inativo {
  display: none;
}

.cabecalho-nav-perfil-logout button {
  width: 100%;
  height: 100%;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 20%;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  z-index: 1000;
}

.sidebar.ativo {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.sidebar.inativo {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.cabecalho-nav-close {
  padding: 20px;
}

.sidebar-list-container {
  width: 100%;
  background-color: hsl(0, 0%, 80%);
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-list-item {
  width: 100%;
  padding: 20px;
}

.cabecalho-nav-close {
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

.sidebar-list-item.ativo {
  border-left: 5px solid #0a4983;
}
